{% extends 'base_web.html' %}

{% block content %}
<!-- our industries -->
<div class="fh5co-narrow-content">
	<div class="row title-text">
		<div class="col-sm-6 col-sm-offset-3 col-xs-12">
			<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Ideas</h2>
			<p class="fh5co-text animate-box text-justify" data-animate-effect="fadeInLeft">
				Our expertise allows us to <strong>help you succeed</strong> in these fields.
			</p>
		</div>
	</div>

	<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">services</h2>
	<div class="row">
		<div class="col-md-6">
			<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
				<div class="fh5co-icon">
					<i class="fas fa-university"></i>
				</div>
				<div class="fh5co-text">
					<h3>Finance & Banking</h3>
					<p>Make financial services more efficient and appealing to clients by implementing technology driven solutions.</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
				<div class="fh5co-icon">
					<i class="fas fa-taxi"></i>
				</div>
				<div class="fh5co-text">
					<h3>Taxi & Transportation</h3>
					<p>Build a local or global Uber-like application, solve various logistic challenges, and optimize your expenses and resources allocation. </p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
				<div class="fh5co-icon">
					<i class="fas fa-briefcase-medical"></i>
				</div>
				<div class="fh5co-text">
					<h3>Health Сare & Fitness</h3>
					<p>Help people to better track, manage, and improve their health and wellness in a cost-effective and simple way. </p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
				<div class="fh5co-icon">
					<i class="fas fa-plane-departure"></i>
				</div>
				<div class="fh5co-text">
					<h3>Travel & Booking</h3>
					<p>reate flexible accommodation and flights search engines and booking systems. Integrate it with the CRM, GDS and payment systems.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
				<div class="fh5co-icon">
					<i class="fas fa-building"></i>
				</div>
				<div class="fh5co-text">
					<h3>Real Estate</h3>
					<p>Develop an easier way to buy, sell, or lease your property effectively with the use of technology instead of expensive estate agents.</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
				<div class="fh5co-icon">
					<i class="fas fa-map-marked-alt"></i>
				</div>
				<div class="fh5co-text">
					<h3>Marketplaces</h3>
					<p>Launch a great e-commerce app that connects the sellers and those looking to buy a product or service.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
				<div class="fh5co-icon">
					<i class="fas fa-futbol"></i>
				</div>
				<div class="fh5co-text">
					<h3>Fantasy Sport</h3>
					<p>Create your gaming platform for users to assemble virtual teams of real players from the professional sports to compete based on the statistical performance of those players in actual games.</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
				<div class="fh5co-icon">
					<i class="fas fa-store-alt"></i>
				</div>
				<div class="fh5co-text">
					<h3>E-commerce & Retail</h3>
					<p>Anticipatie end-users needs and adapt to them as they change, have the products they want on-hand, and communicate in real-time.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
				<div class="fh5co-icon">
					<i class="fas fa-comments"></i>
				</div>
				<div class="fh5co-text">
					<h3>Communication & Social Networking</h3>
					<p>Engage the market with a brand new niche social network or a messaging app.</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
				<div class="fh5co-icon">
					<i class="fab fa-pagelines"></i>
				</div>
				<div class="fh5co-text">
					<h3>Agriculture Technology</h3>
					<p>Develop digital farming and smart agricultural solutions for your farms and farmers.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
				<div class="fh5co-icon">
					<i class="fas fa-thermometer-three-quarters"></i>
				</div>
				<div class="fh5co-text">
					<h3>IoT Systems</h3>
					<p>Be able to gather all your data from sensor or system all around the world into an all-in-one application and manage them, make analysis based on data gathered and interact with them in real-time.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end our industries -->

<!-- our services -->
<div class="fh5co-narrow-content">
	<div class="row title-text">
		<div class="col-sm-6 col-sm-offset-3 col-xs-12">
			<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Our Services</h2>
			<p class="fh5co-text animate-box" data-animate-effect="fadeInLeft">Our <strong>personalized attention</strong> offers at all times communication and rapid changes.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
				<div class="fh5co-icon">
					<i class="fas fa-laptop"></i>
				</div>
				<div class="fh5co-text">
					<h3>Web Development</h3>
					<p>We build web applications ranging from lightweight MVPs to complex FinTech solutions. Our web development team specialized in Python, Django, Node.js, Scala, AngularJS, and React tackles any engineering challenges and satisfies all the most demanding requests. </p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
				<div class="fh5co-icon">
					<i class="fas fa-mobile-alt"></i>
				</div>
				<div class="fh5co-text">
					<h3>Mobile App Development</h3>
					<p>We offer both native and cross-platform development. Depending on your needs, our tools are: Swift, Objective-C, Java, Kotlin, React Native, Cordova, Ionic, and PhoneGap. </p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
				<div class="fh5co-icon">
					<i class="fas fa-pencil-alt"></i>
				</div>
				<div class="fh5co-text">
					<h3>UX/UI Design</h3>
					<p>esign is a way to transform your ideas into the great interface where user interacts with the product. We create human-centered, research-based, scalable interfaces following the best UX/UI practices. </p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
				<div class="fh5co-icon">
					<i class="fas fa-database"></i>
				</div>
				<div class="fh5co-text">
					<h3>Data Science</h3>
					<p>From data-driven UX/UI and intelligent chatbots to high-load, big data, and machine learning solutions we help businesses from healthcare, recruiting, online marketplaces, digital marketing, and engineering industries to increase their performance, automate routine processes, and optimize their expenses. </p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
				<div class="fh5co-icon">
					<i class="fas fa-sitemap"></i>
				</div>
				<div class="fh5co-text">
					<h3>DevOps</h3>
					<p>DevOps approach allows to save up to 90% efforts spent on deployment and server maintenance. It reduces time to market by up to 50% and helps to identify quality concerns earlier. We use Docker for containerization, Jenkins and Circle CI for continuous integration and delivery, Sentry for real-time error tracking, ELK for metrics and logging, Terraform and Ansible for server provisioning and infrastructure, Nagios and New Relic for monitoring. </p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
				<div class="fh5co-icon">
					<i class="fas fa-clipboard-check"></i>
				</div>
				<div class="fh5co-text">
					<h3>Quality Assurance</h3>
					<p>QA is an irreplaceable part of the development process. It must be present during the whole development cycle, to make sure that the delivered product corresponds to requirements and industry standards. Our QA Engineers are ISTQB certified and provide quality assurance on each phase of software development life cycle — from testing the business idea to user acceptance test and evaluation of real users feedbacks. </p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
				<div class="fh5co-icon">
					<i class="fas fa-digital-tachograph"></i>
				</div>
				<div class="fh5co-text">
					<h3>Hardware Development</h3>
					<p>HA is rising more and more into our daily life. From sensors all around the city and the fields as well as inside our houses. We make sure your devices connected to your applications are secure and reliable and your data safely safeguarded. </p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end our services -->

<!-- our blog -->
<div class="fh5co-narrow-content">
	<div class="row title-text">
		<div class="col-sm-6 col-sm-offset-3 col-xs-12">
			<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Our Blog</h2>
			<p class="fh5co-text animate-box" data-animate-effect="fadeInLeft">This is how we <strong>contribute</strong> to open source and empower people.</p>
		</div>
	</div>
	<div class="row row-bottom-padded-md">
		<div class="col-lg-3 col-md-4 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
			<div class="blog-entry">
				<a href="#" class="blog-img"><img src="{{ url_for('static', filename='web/images/solar-cafe-preview.jpg') }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
				<div class="desc">
					<h3><a href="#">Inspirational Website</a></h3>
					<span><small>by Admin </small> / <small> Web Design </small> / <small> <i class="icon-comment"></i> 14</small></span>
					<p>Design must be functional and functionality must be translated into visual aesthetics</p>
					<a href="#" class="lead">Read More <i class="icon-arrow-right3"></i></a>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
			<div class="blog-entry">
				<a href="#" class="blog-img"><img src="{{ url_for('static', filename='web/images/solar-cafe-preview.jpg') }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
				<div class="desc">
					<h3><a href="#">Inspirational Website</a></h3>
					<span><small>by Admin </small> / <small> Web Design </small> / <small> <i class="icon-comment"></i> 14</small></span>
					<p>Design must be functional and functionality must be translated into visual aesthetics</p>
					<a href="#" class="lead">Read More <i class="icon-arrow-right3"></i></a>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
			<div class="blog-entry">
				<a href="#" class="blog-img"><img src="{{ url_for('static', filename='web/images/solar-cafe-preview.jpg') }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
				<div class="desc">
					<h3><a href="#">Inspirational Website</a></h3>
					<span><small>by Admin </small> / <small> Web Design </small> / <small> <i class="icon-comment"></i> 14</small></span>
					<p>Design must be functional and functionality must be translated into visual aesthetics</p>
					<a href="#" class="lead">Read More <i class="icon-arrow-right3"></i></a>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
			<div class="blog-entry">
				<a href="#" class="blog-img"><img src="{{ url_for('static', filename='web/images/solar-cafe-preview.jpg') }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
				<div class="desc">
					<h3><a href="#">Inspirational Website</a></h3>
					<span><small>by Admin </small> / <small> Web Design </small> / <small> <i class="icon-comment"></i> 14</small></span>
					<p>Design must be functional and functionality must be translated into visual aesthetics</p>
					<a href="#" class="lead">Read More <i class="icon-arrow-right3"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end our blog -->

<!-- STATS -->
<div class="fh5co-narrow-content bg-web width100">
	<div class="row title-text">
		<div class="col-sm-6 col-sm-offset-3 col-xs-12">
			<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Our Numbers</h2>
			<!-- <p class="fh5co-text animate-box" data-animate-effect="fadeInLeft">Our <strong>personalized attention</strong> offers at all times communication and rapid changes.</p> -->
		</div>
	</div>

	<div class="row row-bottom-padded-md centered">
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 animate-box" data-animate-effect="fadeInLeft">
			<img class="img-responsive img-centered" src="{{ url_for('static', filename='web/images/favicon.png') }}" alt="Fantaso Logo" style="max-width: 150px; margin-bottom:25px;">
			<h2 class="fh5co-heading">Sucessfull projects</h2>
			<p>To become a <strong>company as a product</strong>.</p>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 animate-box" data-animate-effect="fadeInLeft">
			<img class="img-responsive img-centered" src="{{ url_for('static', filename='web/images/favicon.png') }}" alt="Fantaso Logo" style="max-width: 150px; margin-bottom:25px;">
			<h2 class="fh5co-heading">Happy clients</h2>
			<p>To make our <strong>clients a success!</strong>.</p>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 animate-box" data-animate-effect="fadeInLeft">
			<img class="img-responsive img-centered" src="{{ url_for('static', filename='web/images/favicon.png') }}" alt="Fantaso Logo" style="max-width: 150px; margin-bottom:25px;">
			<h2 class="fh5co-heading">Happy clients</h2>
			<p>To make our <strong>clients a success!</strong>.</p>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 animate-box" data-animate-effect="fadeInLeft">
			<img class="img-responsive img-centered" src="{{ url_for('static', filename='web/images/favicon.png') }}" alt="Fantaso Logo" style="max-width: 150px; margin-bottom:25px;">
			<h2 class="fh5co-heading">Happy clients</h2>
			<p>To make our <strong>clients a success!</strong>.</p>
		</div>
	</div>
</div>
<!-- end STATS -->


<!-- FAQ -->
<div class="fh5co-narrow-content">
	<div class="row title-text">
		<div class="col-sm-6 col-sm-offset-3 col-xs-12">
			<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">FAQ</h2>
			<p class="fh5co-text animate-box" data-animate-effect="fadeInLeft">Answered questions and explained doubts, <strong>create great & thriving</strong> relationships.</p>
		</div>
    </div>
	<div class="row animate-box" data-animate-effect="fadeInLeft">
		<div class="col-lg-12 col-md-12 col-sm-12">
		  <!-- <h2 class="fh5co-heading animate-box centered" data-animate-effect="fadeInLeft">F.A.Q.</h2> -->
		  <div id="accordion" class="panel-groupanimate-box" data-animate-effect="fadeInLeft">
		    <div class="panel panel-default">
		      <div class="panel-heading">
		        <h4 class="panel-title">
		          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><i class="fas fa-plus"></i>Collapsible Group 1</a>
		        </h4>
		      </div>
		      <div id="collapse1" class="panel-collapse collapse in">
		        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
		        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
		      </div>
		    </div>
		    <div class="panel panel-default">
		      <div class="panel-heading">
		        <h4 class="panel-title">
		          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><i class="fas fa-plus"></i>Collapsible Group 2</a>
		        </h4>
		      </div>
		      <div id="collapse2" class="panel-collapse collapse">
		        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
		        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
		      </div>
		    </div>
		    <div class="panel panel-default">
		      <div class="panel-heading">
		        <h4 class="panel-title">
		          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><i class="fas fa-plus"></i>Collapsible Group 3</a>
		        </h4>
		      </div>
		      <div id="collapse3" class="panel-collapse collapse">
		        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
		        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
		      </div>
		    </div>
		    <div class="panel panel-default">
		      <div class="panel-heading">
		        <h4 class="panel-title">
		          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><i class="fas fa-plus"></i>Collapsible Group 3</a>
		        </h4>
		      </div>
		      <div id="collapse4" class="panel-collapse collapse">
		        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
		        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
		      </div>
		    </div>
		    <div class="panel panel-default">
		      <div class="panel-heading">
		        <h4 class="panel-title">
		          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><i class="fas fa-plus"></i>Collapsible Group 3</a>
		        </h4>
		      </div>
		      <div id="collapse5" class="panel-collapse collapse">
		        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
		        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
		      </div>
		    </div>
		    <div class="panel panel-default">
		      <div class="panel-heading">
		        <h4 class="panel-title">
		          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><i class="fas fa-plus"></i>Collapsible Group 3</a>
		        </h4>
		      </div>
		      <div id="collapse6" class="panel-collapse collapse">
		        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
		        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
		      </div>
		    </div>
		    <div class="panel panel-default">
		      <div class="panel-heading">
		        <h4 class="panel-title">
		          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><i class="fas fa-plus"></i>Collapsible Group 3</a>
		        </h4>
		      </div>
		      <div id="collapse7" class="panel-collapse collapse">
		        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
		        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
		      </div>
		    </div>
		    <div class="panel panel-default">
		      <div class="panel-heading">
		        <h4 class="panel-title">
		          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><i class="fas fa-plus"></i>Collapsible Group 3</a>
		        </h4>
		      </div>
		      <div id="collapse8" class="panel-collapse collapse">
		        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
		        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
		      </div>
		    </div>
		    <div class="panel panel-default">
		      <div class="panel-heading">
		        <h4 class="panel-title">
		          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><i class="fas fa-plus"></i>Collapsible Group 3</a>
		        </h4>
		      </div>
		      <div id="collapse9" class="panel-collapse collapse">
		        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
		        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
		      </div>
		    </div>
		    <div class="panel panel-default">
		      <div class="panel-heading">
		        <h4 class="panel-title">
		          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><i class="fas fa-plus"></i>Collapsible Group 3</a>
		        </h4>
		      </div>
		      <div id="collapse10" class="panel-collapse collapse">
		        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
		        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
		      </div>
		    </div>
		  </div>
	    </div>
  </div>

  <div class="row centered margin-top-40">
	  <div class=" animate-box" data-animate-effect="fadeInLeft">
		  <p class="fh5co-text animate-box" data-animate-effect="fadeInLeft">Still having more questions? We are <strong>always here</strong> to clarify your doubts.</p>
		  <p><a href="{{ url_for('web.contact') }}" class="btn btn-primary">Ask us!</a></p>
	  </div>
  </div>
</div>
<!-- end FAQ -->

<!-- trusted clients -->
<div class="fh5co-narrow-content">
	<div class="row title-text">
		<div class="col-sm-6 col-sm-offset-3 col-xs-12">
			<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Trusted Clients</h2>
			<!-- <p class="fh5co-text animate-box" data-animate-effect="fadeInLeft">This is how we <strong>contribute</strong> to open source and empower people.</p> -->
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-sm-6 col-sx-12">
			<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
				<div class="fh5co-icon">
					<i class="fas fa-laptop"></i>
				</div>
				<div class="fh5co-text">
					<h3>Full-Service Team</h3>
					<p>From analysts and software developers to QA and DevOps engineers to cover all the project needs. </p>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-sx-12">
			<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
				<div class="fh5co-icon">
					<i class="fas fa-laptop"></i>
				</div>
				<div class="fh5co-text">
					<h3>Agile Process</h3>
					<p>In-house team, full transparency, continuous delivery, methodology based on the project’s type. </p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-6 col-sx-12">
			<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
				<div class="fh5co-icon">
					<i class="fas fa-laptop"></i>
				</div>
				<div class="fh5co-text">
					<h3>Diverse Expertise</h3>
					<p>The mix of deep expertise in technologies and business domains allows us to come up with effective solutions rapidly. </p>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-sx-12">
			<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
				<div class="fh5co-icon">
					<i class="fas fa-mobile-alt"></i>
				</div>
				<div class="fh5co-text">
					<h3>Delivery</h3>
					<p>Involvement of all the team members on the earliest stages, analysis of requirements, and proper planning and estimations allow us to make delivery process clear and predictable. </p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end trusted clients -->


<!-- our blog -->
<div class="fh5co-narrow-content">
	<div class="row title-text">
		<div class="col-sm-6 col-sm-offset-3 col-xs-12">
			<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Our Blog</h2>
			<p class="fh5co-text animate-box" data-animate-effect="fadeInLeft">This is how we <strong>contribute</strong> to open source and empower people.</p>
		</div>
	</div>
	<div class="row row-bottom-padded-md">
		<div class="col-lg-3 col-md-4 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
			<div class="blog-entry">
				<a href="#" class="blog-img"><img src="{{ url_for('static', filename='web/images/solar-cafe-preview.jpg') }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
				<div class="desc">
					<h3><a href="#">Inspirational Website</a></h3>
					<span><small>by Admin </small> / <small> Web Design </small> / <small> <i class="icon-comment"></i> 14</small></span>
					<p>Design must be functional and functionality must be translated into visual aesthetics</p>
					<a href="#" class="lead">Read More <i class="icon-arrow-right3"></i></a>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
			<div class="blog-entry">
				<a href="#" class="blog-img"><img src="{{ url_for('static', filename='web/images/solar-cafe-preview.jpg') }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
				<div class="desc">
					<h3><a href="#">Inspirational Website</a></h3>
					<span><small>by Admin </small> / <small> Web Design </small> / <small> <i class="icon-comment"></i> 14</small></span>
					<p>Design must be functional and functionality must be translated into visual aesthetics</p>
					<a href="#" class="lead">Read More <i class="icon-arrow-right3"></i></a>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
			<div class="blog-entry">
				<a href="#" class="blog-img"><img src="{{ url_for('static', filename='web/images/solar-cafe-preview.jpg') }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
				<div class="desc">
					<h3><a href="#">Inspirational Website</a></h3>
					<span><small>by Admin </small> / <small> Web Design </small> / <small> <i class="icon-comment"></i> 14</small></span>
					<p>Design must be functional and functionality must be translated into visual aesthetics</p>
					<a href="#" class="lead">Read More <i class="icon-arrow-right3"></i></a>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
			<div class="blog-entry">
				<a href="#" class="blog-img"><img src="{{ url_for('static', filename='web/images/solar-cafe-preview.jpg') }}" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
				<div class="desc">
					<h3><a href="#">Inspirational Website</a></h3>
					<span><small>by Admin </small> / <small> Web Design </small> / <small> <i class="icon-comment"></i> 14</small></span>
					<p>Design must be functional and functionality must be translated into visual aesthetics</p>
					<a href="#" class="lead">Read More <i class="icon-arrow-right3"></i></a>
				</div>
			</div>
		</div>
		<div class="row centered">
			<div class=" animate-box" data-animate-effect="fadeInLeft">
				<p><a href="{{ url_for('web.blog') }}" class="btn btn-primary">View more</a></p>
			</div>
		</div>
	</div>
</div>
<!-- end our blog -->

<!-- Call for contacting us -->
<div id="get-in-touch">
	<div class="fh5co-narrow-content">
		<div class="row">
			<div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
				<h1 class="fh5co-heading-colored">Get in touch with us</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
				<p class="fh5co-lead">In Fantaso, We are here to listen to your ideas and make it them reality.</p>
				<p><a href="{{ url_for('web.contact') }}" class="btn btn-primary">Contact Us</a></p>
			</div>
		</div>
	</div>
</div>
<!-- end for contacting us -->

{% endblock content %}
