{% extends 'base_web.html' %}

{% block title %}
	Contact Us
{% endblock %}

{% block links_in_head %}
{% endblock links_in_head %}

{% block css_in_head %}
{% endblock css_in_head %}

<!-- GOOGLE MAPS -->
{% block links_body %}
	<script type="text/javascript" src="{{ url_for('static', filename='web/js/google_map.js') }}"></script>
{% endblock links_body %}

{% block contact_active %}
	fh5co-active
{% endblock %}

{% block content %}
<div class="fh5co-more-contact">
	<div class="fh5co-narrow-content">
		<div class="row">
			<div class="col-md-4">
				<div class="fh5co-feature fh5co-feature-sm animate-box" data-animate-effect="fadeInLeft">
					<div class="fh5co-icon">
						<i class="icon-globe"></i>
					</div>
					<div class="fh5co-text">
						<p><a href="#">carlos.rosas@fantaso.de</a></p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="fh5co-feature fh5co-feature-sm animate-box" data-animate-effect="fadeInLeft">
					<div class="fh5co-icon">
						<i class="icon-map"></i>
					</div>
					<div class="fh5co-text">
						<p>Boddinstraße 32, 12055, Berlin</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="fh5co-feature fh5co-feature-sm animate-box" data-animate-effect="fadeInLeft">
					<div class="fh5co-icon">
						<i class="icon-phone"></i>
					</div>
					<div class="fh5co-text">
						<p><a href="tel://">+49 176 4764 5375</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="fh5co-narrow-content animate-box" data-animate-effect="fadeInLeft">

	<div class="row">
		<div class="col-md-4">
			<h2>Get In Touch</h2>
		</div>
	</div>
	<form action="">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Name">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Email">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Phone">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<textarea name="" id="message" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
						</div>
						<div class="form-group">
							<input type="submit" class="btn btn-primary btn-md" value="Send Message">
						</div>
					</div>

				</div>
			</div>

		</div>
	</form>
</div>
<div id="map"></div>
{% endblock content %}
